<div class="food-container">
<div>
  <h1>Food List</h1>
  <%= button_to 'Add Food', new_food_path, class: "add-btn" %>
</div>

<% if @foods.empty? %>
  <p>Please add foods using the Add Food button</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement Unit</th>
      <th>Unit Price</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to "#{food.name}", food_path(food.id) %></td>
        <td><%= food.measurement_unit %></td>
        <td>$<%= food.price %></td>
        <td><%= button_to "Delete", food_path(food.id), method: :delete, data: { confirm: 'You are about to delete this food! Do you want to continue?' }, class: 'btn btn-danger delete-button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>
