<!DOCTYPE html>
<html>
  <head>
    <title>FoodRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
 
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div>
  
  <% if user_signed_in? %>
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
    <%= link_to('Register', new_user_registration_path) %>
  <% end %>

      <nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Recipe App', authenticated_root_path %>
          <%= link_to 'Foods', foods_path %>
          <%= link_to 'Recipes', recipes_path %>
          <%= link_to 'Public Recipes List', public_recipes_path %>
          <%= link_to 'Users', users_path %>
        <% else %>
          <%= link_to 'Recipe App', root_path %>
        <% end %>
      </div>
    </nav>

</div>
    <%= yield %>
  </body>
</html>
